/**
 * $Variables 
 **/
 $color-bg: #F2C94C !default;
 $color-btn: #333333 !default;
 $color-btn-active: #F2C94C !default;
 
 /**
  * $Mixins 
  **/
 @mixin fontSize($size: 24, $base: 16) {
   font-size: $size + px;
   font-size: ($size / $base) * 1rem;
 } 
 
 @mixin transition-timing-function($timing) {
     -webkit-transition-timing-function: $timing;
     -moz-transition-timing-function: $timing;
     -o-transition-timing-function: $timing;
     transition-timing-function: $timing;
 }
 
 @mixin animation($animation) {
     -webkit-animation: $animation;
   -moz-animation: $animation;
   -o-animation: $animation;
   animation: $animation;
 }
 
 @mixin transition-duration($duration) {
   -webkit-transition-duration: $duration;
   -moz-transition-duration: $duration;
   -o-transition-duration: $duration;
   transition-duration: $duration;
 }
 
 /* $Button */
 a.btn{
   display: inline-block;
  //  margin: 15px 15px 0;
   padding: .6em 1.1em;
   @include fontSize(26);
   text-decoration: none;
   outline: none;
   color: #fff;
   background-color: $color-btn;
   border-radius: 3px;
   box-shadow: 0 0 0 -2px $color-bg, 0 0 0 -1px $color-btn;
   border: none;
   -webkit-transition: -webkit-box-shadow .3s;
   transition:box-shadow .3s;
   &:hover, &:focus {
     box-shadow: 0 0 0 2px $color-bg, 0 0 0 4px darken(#333333, 5%);
     @include transition-timing-function(cubic-bezier(.6,4,.3,.8));
     @include animation (gelatine .5s 1);
   }
 }
 
 
 a.btn:active {
     background: $color-btn-active;
     @include transition-duration(0);
     box-shadow: 0 0 0 2px $color-bg, 0 0 0 4px darken($color-btn-active, 5%);
   }
 
 /**
  * $keyframes \ gelatine 
  **/
 @keyframes gelatine{
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }
   75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
 }
 
 @-webkit-keyframes gelatine{
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }
   75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
   from,to{
     -webkit-transform:scale(1, 1);
     transform:scale(1, 1)
   }
   25%{
     -webkit-transform:scale(.9, 1.1);
     transform:scale(.9, 1.1)
   }
   50%{
     -webkit-transform:scale(1.1, .9);
     transform:scale(1.1, .9)
   }75%{
     -webkit-transform:scale(.95, 1.05);
     transform:scale(.95, 1.05)
   }
 }
 
 