html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    margin:0 !important;
    padding:0 !important;
    background-color: #faf8f8;
    overflow-x: hidden !important;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.sidebar{
    grid-column: 1/2;
    z-index:-1;
}
.content{
    grid-column: 2/-1;
}
.side{
    z-index: inherit;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
}

.side .iconify{
    margin-top: 10px;
    margin-left:10px;
}

.container{
    display: grid;
    grid-gap:3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto auto;
    
}
.navigation{
    position: fixed;
    z-index: 1000;
    top:0;
    right:0;
    left:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:80px;  

    padding:0 25px 0 25px;
    box-shadow: 0 5px 10px rgba(54, 26, 26, 0.04);
    background-color: #faf8f8;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
}
.navigation .links a{
    margin-right: 25px;
    margin-left: 25px;
    font-size:20px;
    font-weight: 400;
    text-decoration: none;
    color:black;
}
.logo{
    margin-left:25px;
}
/* landing page css */
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 10vw 0 10vw; */
    height:100vh;
}
.hero-content p{
    font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 34px;

/* Gray 4 */

color: #BDBDBD;
}

.hello{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.hero-content{
    width:40vw;
}
.hero-content h3{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 46px;
    
}
.hero-content h1{
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #F2C94C;
}
.hello h1{
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 56px;
    color: #2F80ED;
}

/* pojects-css */
.projects{
    /* padding-top:50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-container{
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:50px;
    align-items: center;
}
.project-content{
    align-self: baseline;
    padding-top:30px;
    
}
.project-info{
    display:flex;
    flex-direction: row;
}

.project-name{
    padding-left:20px;
    font-weight: 800;
    font-size: 42px;
    line-height: 57px;
    color:#2F80ED;
}
.btn{
    width:10vw;
    margin-top:30px;
    /* font-size:1.2vw; */
    padding:14px 20px 14px 20px;
    background: #333333;
    box-shadow: 3px 4px 4px rgba(151, 150, 150, 0.25);
    border-radius: 66px;
    font-weight: 600;
    font-size: 20px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.project-intro-container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

.project-links{
    display: flex;
    flex-direction:row;
    /* justify-content: space-evenly; */
    align-items:center;
}
.project-links > .iconify{
    align-self: auto;
   margin-top: 30px;
    margin-left:20px;
}

/* visual explorations */

.visual{
    min-height: 95vh;
    max-height: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.visual .btn{
    align-self: center;
    margin-bottom: 20px;
}
.visual-heading{
    padding-left:30px;
}
.visual-heading h1{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 46px;
    /* padding-top:30px; */
}

.visual-content{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.about{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    height:100vh;
}

.about-heading{
    font-size: 34px;
    line-height:   46px;
    font-weight: bold;
}
.content-wrap{
    display:flex;
    flex-direction : row;
    justify-content: center ;
    align-items: center;
}
.about-content p{
    font-size:  23px;
    color:#828282;
    line-height:31px;
    font-weight: 300;
    width:50vw;
}
.about-image{
    width:50vw;
}
.about-content .name{
    font-weight: 800;
    color: #F2C94C;
}



.contact{
    height:70vh;
    display: flex;
    flex-direction:column;
    background-color: #F2C94C;
    /* justify-content: space-around; */
    z-index: 2;
}
.contact .top{
    height: auto;
}
.middle{
        padding-top:10vh;
        margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self:center;
    vertical-align: middle;
}


.left p{
    font-size:23px;
    font-weight:300px;
    line-height: 31px;
}
.left-first{
    color:white;
    padding-bottom:20px;
}
.contact .top h1{

    font-size: 34px;
    line-height:   46px;
    font-weight: bold;
}

.middle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bottom{
    display:flex;
    justify-content:center;
    align-items: center;
    /* vertical-align: bottom  ; */
    justify-self: flex-end;
    
}
.bottom h6{
    font-size:16px;
    font-weight:300px;
}
.bottom .footer-text{
    padding-left:10px
}
.footer-social{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.footer-social .iconify{
    padding-left:10px;
}
.footer-social .iconify:first-child{
    padding-left:0; 
}


/* Responsiveness */

@media only screen and (max-width:600px){

    .container{
        display: grid;
        grid-gap:3px;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto auto auto;
        
    }
    .sidebar{
        grid-column: 1/1;
        z-index:-1;
    }
    .content{
        grid-column: 1/-1;
    }

    /* navigation */
    .navigation{
        flex-direction: column;
        justify-content: space-around;
        padding:20px;
        height:auto;
        overflow-y: hidden;
    }
    .navigation .links a{
        margin-right: 25px;
        font-size:20px;
        padding-top:20px;
        font-weight:900px;
        justify-self: last baseline;
    }
    .sidebar{
        display: none;
    }

    .hero{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        /* align-content: space-around; */
         text-align: center; 
        height:auto;
        width:100vw;
    }
    .hero-image img{
        width:370px;
        height:403px;
    }
    .hello{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-top: 20px;

    }
    

    .hero-content{
        width: 95vw;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hero-content h3{
        font-size: 5.8vw;
        text-align: center;
    }
     .hero-content h1{
        font-size: 6vw;
        font-weight: 700;
    } 

    .hello  h1{
        font-size: 30px;
        padding-left:10px;
        font-weight:900;
    }

    /* projects */

    .project-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        height:auto;
        margin-top: 30vw;
    }
    .num{
        align-self: flex-start;
        padding-left:30px;
    }
    .project{
        display:flex;
        flex-direction: column;
        height:auto;
        padding-left: 30px;
        margin-left: 30px;
    }
    .project-image img{
        width:90vw;
    }
    .project-content{
        display: flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;
        text-align:center;
    }
    .project-info{
        display: flex;
        flex-direction:row;
        justify-content: center;
        align-items:center;

    }
    .project-info h1{
        font-size:6vw
    }
   .project-info img{
        width:5vw;
        height:8vw;
    }

    .project-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
    }
    .project-links .btn{
        width:30vw;
    }
    .project-intro-container p{
        font-size:4vw;
        line-height: 27px;
        text-align: center;

        /* Gray 4*/

        color: #BDBDBD;
    }

    /* visual explorations */

    .visual{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        height:auto;
        margin-top:30vw
    }
    .visual-heading h1{
        font-size:6vw;
    }
    .visual-heading{
        padding-top:8vw;
    }
    .visual-content img{
        padding-top:15vw;
    }
    .visual a{
        width:30vw;
        height:auto;
    }

    /* about me  */

    .ver{
        color:#F2C94C;
    }
    .about{
        margin-top:10vw;
        display:flex;
        flex-direction:column;
        text-align:center;
        height:auto;
    }
    .heading h1{
        font-size: 6vw;
    }
    .content-wrap{
        display: flex;
        flex-direction:column-reverse;
        justify-content: space-between;
        align-items:center;
    }
    .about-content p{
        width:90vw;
        padding-left:15px;
        padding-right:15px;
        font-size:20px;
    }
    
    /* footer */
    .contact{
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        align-items:center;
        margin-top:20vw;
        text-align:center;
    }
    .contact .top h1{
        font-size:6vw;
    }

    .middle{
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        margin-top: -40vw;
    }
    .left p:first-child{
        font-size: 5vw;
        font-weight: 600;
    }
    .left h6{
        font-size: 4vw;
        font-weight: normal;
    }
    .right{
        padding-top:30px;
    }
    .right h2{
        font-size: 4vw;
        font-weight:normal;
    }
    .bottom{
        padding-top: 20px;
    }
    .bottom .iconify{
        font-size:25px;
    }
    .footer p{
        font-size:3vw;
    }


}