html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    margin:0 !important;
    padding:0 !important;
    background-color: #faf8f8;
    overflow-x: hidden !important;
    text-decoration: none;
    /* font-family: 'KoHo', sans-serif; */
    color:#0F1A20;
    font-family: 'DM Sans', sans-serif;
}
a{
    text-decoration: none;
    color:#0F1A20;
}
.container{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top:5vw;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation a{
    margin-right: 25px;
    margin-left: 25px;
    font-size:20px;
    font-weight: 400;
    text-decoration: none;
    color:black;
}

.header{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:78vh;
}
.header-text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-text-left{
    width: 25vw;
    align-self: flex-start;
    font-size: 30px;
}
.header-text-right{
    align-self: center;
    /* padding-left: 20px; */
    color: #bdbdbd;
    font-size: 25px;
    font-weight: 200;
    width: 30vw;
}
.arrow{
    align-self: flex-start;
    font-size: 25px;
    font-weight: 600;
}

.headline{
    margin: 0 auto;
    font-size: 40px;
    color:#bdbdbd;
    text-align: center;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.project-image{
    width:60vw;
}
.project-image img{
    width:25vw;
}
.project-info{
    width: auto;
    padding-left: 30px;
}
.project-name{
    font-size: 30px;
    font-weight: 600;
}
.project-detail{
    font-size: 22px;
    font-size: 500;
    color:#bdbdbd;
}
.project-link{
    font-size: 20px;
    font-weight: 700;
}
.visual-exploration h2{
    font-size:34px;
}
.visual-exploration p{

    font-size: 22px;
    font-size: 500;
    color:#bdbdbd;
}
.first-row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.second-row{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.first-row > img, .second-row > img{
    padding-left:20px;
    width: 25vw;
    padding-top: 20px;
}
.visual-exploration a{

    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;;
    display: flex;
    justify-content: center;
}
.about-content{
   
    font-size: 22px;
    font-size: 500;
    color:#bdbdbd;
    width: 40vw; 
}
.aboutme{
    margin-top: 100px;
}
.about{
    display: flex;
}

.aboutme h2{
    font-size:34px;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
hr{
    margin-top:20px;
}
.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:30vw;
}
.contact p{
    font-size: 35px;
    font-weight: 400;
}
.contact h6{
    margin-top:-30px;
    font-size:20px;
    color:#bdbdbd;
}
.social a{
    font-size: 20px;
    font-weight: 500;
}
.footer{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.footer p{
    font-size: 15px;
}

/* responsiveness */
@media only screen and (max-width:600px){
    .container{
        margin-left:2vw;
        margin-right: 2vw;
        margin-top:3vw;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links a{
        font-size: 18px;
        margin-left: -6px; 
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .header-text{
        display: flex;
        flex-direction:column;
        /* width:80vw; */
        justify-content: center;
    }
    .header-text-left{
        align-self: center;
        width:80vw;
        font-size: 20px;
        /* margin-top: 50vw; */
    }
    .header-text-right{
        align-self: center;
        width: 80vw;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
    .arrow{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrow p{
        font-size: 20px;
    }
    .headline{
        /* margin-top: 50vw; */
        margin-top: 12vw;
        font-size: 20px;
    }
    .projects{
        display:flex;
        flex-direction: column;
        margin:0px;
    }
    .project{
        margin-top: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .project img{
        width:80vw;
        margin-left: -35px;
    }
    .project-image{
        align-self: center;
    }
    .project-info{
        width:80vw;
        align-self:center;
        text-align:center;
        padding-left:0;
    }
    .project-detail p{
        font-size: 20px;
    }
    .visual-exploration{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top:20vw;
    }
    .visual-exploration p{
        text-align: center;
        font-size:20px;
        font-weight: 500;
    }
    .first-row,.second-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first-row > img, .second-row > img{
        width: 80vw;
    }
    .aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about{
        display: flex;
        flex-direction: column-reverse;
    }
    .about img{
        width: 80vw;
    }
    .about-content{
        align-self: center;
        text-align: center;
        width:80vw;
        font-size: 20px;
        font-weight: 400;
    }
    .about-image{
        align-self: center;
    }
    .contact p{
        text-align: center;
        font-size: 30px;
    }
    .contact h6{
        text-align:center;
        font-size: 20px;
        padding-left: 20px;
    }
    .social{
        flex-direction: column;
    }
    .social a{
        font-size:20px;
    }
    .social-media{
        width: 70vw;
        margin-top:20px
    }
    .footer p{
        font-size: 15px;
    }
}

.iconify {
    padding-left: 5px;
    padding-top: 5px;
}
.project{
    margin-top: 8vw;
}
.visual-exploration{
    margin-top: 5vw;
}
.aboutme{
    margin-top: 5vw;;
}